* {
	font-size: 14px;
	font-family: 'Comic Code', monospace;
}

window#waybar {
	background: #000000;
	color: #41ff00;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #000000;
}

#workspaces button {
	padding: 0 2px;
	color: #0E3700;
}
#workspaces button.focused {
	color: #41FF00;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #E4FFDB;
	border: #E4FFDB;
	padding: 0 2px;
}

#mode {
  color: #b20026;
}

#custom-scratchpad-indicator {
  color: #b2b2b2;
}

#pulseaudio {
	color: #0026b2;
}
#memory {
	color: #00b2a9;
}
#cpu {
	color: #4a00b2;
}
#battery {
	color: #b28b00;
}
#disk {
	color: #b58900;
}

#custom-layout,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
